<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cooking with Java - Buscar receta</title>
    <meta charset="UTF-8">
    <meta name="description" content="Food Blog Web Template">
    <meta name="keywords" content="food, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/owl.carousel.css"/>
    <link rel="stylesheet" href="css/animate.css"/>
    <link rel="stylesheet" href="css/style.css"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header section -->
<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="user-panel">
                <a href="login"><i class="fa fa-lock"></i> Acceso</a>
            </div>
            <div class="user-panel">
                <a href="crearReceta"><i class="fa fa-upload"></i> Subir receta</a>
            </div>

        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <a href="index" class="site-logo">
                <img src="img/logo.png" alt="">
            </a>
            <ul class="main-menu">
                <li><a href="buscarReceta"><i class="fa fa-search"></i> Buscar</a></li>
                <li><a href="index"><i class="fa fa-home"></i> Inicio</a></li>
                <li><a href="recetas"><i class="fa fa-book"></i> Recetas</a></li>
                <li><a href="perfil"><i class="fa fa-user"></i> Tu perfil</a></li>
            </ul>
        </div>
    </div>
</header>
<!-- Header section end -->


<!-- Hero section -->
<section class="page-top-section set-bg" data-setbg="img/page-top-bg.jpg">
    <div class="container">
        <h2>Buscar Receta</h2>
    </div>
</section>
<!-- Hero section end -->

<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="contact-form-warp">
                    <h4>Buscar recetas.</h4>
                    <form class="contact-form" action="formulario-buscar-receta">
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-3" for="nombreDeLaReceta">Nombre de la receta</label>
                                <input class="col-sm-9" id="nombreDeLaReceta" name="nombreDeLaReceta" type="text"
                                       placeholder="Nombre de la receta">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3" for="tipoDePlato">Tipo de plato</label>
                                <input class="col-sm-9" id="tipoDePlato" name="tipoDePlato" type="text"
                                       placeholder="Tipo de plato">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3" for="nivelDificultadReceta">Nivel de dificultad</label>
                                <select class="col-sm-9" id="nivelDificultadReceta" name="nivelDificultadReceta">
                                    <option value="Indefinido">Indefinido</option>
                                    <option value="Facil">Facil</option>
                                    <option value="Medio">Medio</option>
                                    <option value="Dificil">Dificil</option>
                                    <option value="Experto">Experto</option>
                                    <option value="Profesional">Profesional</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3" for="duracionRecetaMax">Duración máxima:</label>
                                <input class="col-sm-3" id="duracionRecetaMax" name="duracionRecetaMax"
                                       type="number" placeholder="Duracion Total Máxima">
                                <label class="col-sm-3" for="duracionRecetaMin">Duración minima:</label>
                                <input class="col-sm-3" id="duracionRecetaMin" name="duracionRecetaMin"
                                       type="number" placeholder="Duracion Total Minima">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3" for="numPasosMax">Número máximo de pasos:</label>
                                <input class="col-sm-3" id="numPasosMax" name="numPasosMax"
                                       type="number" placeholder="Numero Máximo de Pasos">
                                <label class="col-sm-3" for="numPasosMin">Número minimo de pasos:</label>
                                <input class="col-sm-3" id="numPasosMin" name="numPasosMin"
                                       type="number" placeholder="Numero Minimo de Pasos">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3" for="numFav">Número minimo de favoritos:</label>
                                <input class="col-sm-3" id="numFav" name="numFav"
                                       type="number" placeholder="Numero minimo de favoritos">
                                <label class="col-sm-3" for="numComentarios">Número minimo de comentarios:</label>
                                <input class="col-sm-3" id="numComentarios" name="numComentarios"
                                       type="number" placeholder="Numero minimo de comentarios">
                            </div>
                            <button type="submit" class="form-group row col-md-12 site-btn">Buscar</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Gallery section -->
            <div class="gallery">
                <div class="gallery-slider owl-carousel">
                    <div class="gs-item set-bg" data-setbg="img/low-bar/1.jpg"></div>
                    <div class="gs-item set-bg" data-setbg="img/low-bar/2.jpg"></div>
                    <div class="gs-item set-bg" data-setbg="img/low-bar/3.jpg"></div>
                    <div class="gs-item set-bg" data-setbg="img/low-bar/4.jpg"></div>
                    <div class="gs-item set-bg" data-setbg="img/low-bar/5.jpg"></div>
                    <div class="gs-item set-bg" data-setbg="img/low-bar/6.jpg"></div>
                </div>
            </div>
            <!-- Gallery section end -->

            <!-- Footer section  -->
            <footer class="footer-section set-bg" data-setbg="img/footer-bg.jpg">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 text-lg-right">
                            <p class="copyright">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by
                                <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                            <p class="copyright"> The Java Cookers: un blog de cocina de estudiantes de la URJC.</p>
                            <p class="copyright"> Iago Calvo lista. Javier Martinez Pablo. Juan Jimenez Galvez.</p>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer section end -->

            <!--====== Javascripts & Jquery ======-->
            <script src="js/jquery-3.2.1.min.js"></script>
            <script src="js/owl.carousel.min.js"></script>
            <script src="js/main.js"></script>
        </div>
    </div>
</section>
</body>
</html>